<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Atividade'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="atividade index large-9 medium-8 columns content">
    <h3><?= __('Atividade') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th><?= $this->Paginator->sort('id') ?></th>
                <th><?= $this->Paginator->sort('titulo') ?></th>
                <th><?= $this->Paginator->sort('descricao') ?></th>
                <th><?= $this->Paginator->sort('ordem') ?></th>
                <th class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($atividade as $atividade): ?>
            <tr>
                <td><?= $this->Number->format($atividade->id) ?></td>
                <td><?= h($atividade->titulo) ?></td>
                <td><?= h($atividade->descricao) ?></td>
                <td><?= $this->Number->format($atividade->ordem) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $atividade->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $atividade->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $atividade->id], ['confirm' => __('Are you sure you want to delete # {0}?', $atividade->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
